body {
  background: linear-gradient(135deg, #C82B11, #d34a13, #DD8416);
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;      
  height: 100vh;
  margin: 0;               
}

.login-image-wrapper {
  z-index: 1;
}

.login-image {
  width: 640px;
  display: block;
}

.welcome-message {
    text-align: center;      
    margin: 20px 0;          
}

.welcome-message h1 {
    font-size: 4rem;          
    color: #ffffff;         
    font-weight: bold;
    font-family: Arial, sans-serif;
}
