body {
    background: linear-gradient(135deg, #5D2B8F, #471579, #A47EE0);
    margin: 0;
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
}

/* ====== TOGGLE THEME BUTTON ====== */
.toggle-theme-btn {
  display: inline-block;
  position: fixed;
  top: 100px;
  left: 30px;
  width: 70px;              /* largeur du switch */
  height: 36px;             /* hauteur du switch */
  border-radius: 50px;      /* forme ovale */
  background-color: #a8432d; /* violet du fond (style.css par exemple) */
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.toggle-theme-btn .toggle-switch {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  height: 30px;
  background-color: #fff;   /* rond blanc */
  border-radius: 50%;
  transition: right 0.3s ease, background-color 0.3s ease;
}



/* ====== VERSION ACTIVE (par ex. thème alternatif) ====== */
body.alt-theme .toggle-theme-btn {
  background-color: #7a3eb2; /* rouge-brun (fond du visuel) */
}

body.alt-theme .toggle-theme-btn .toggle-switch {
  left: 37px;               /* déplace le rond à droite */
  background-color: #fff;
}
